# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/
.eggs/

# MLflow
mlruns/
mlartifacts/
catboost_info/

# Model artifacts
*.joblib
*.pt
*.pth
*.mar
serving/torchserve/model_store/
models/sklearn/*.pkl
!models/sklearn/xgboost_h1.pkl
!models/sklearn/gradient_boosting_h2.pkl
!models/sklearn/gradient_boosting_h3.pkl
!models/sklearn/lasso_alpha001_h4.pkl
!models/sklearn/lasso_alpha001_h5.pkl
!models/sklearn/scaler.pkl
models/pytorch/*.pkl

# Notebooks
.ipynb_checkpoints/
output_eda/

# Data
data/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Testing
.pytest_cache/

# MkDocs
site/
docs
mkdocs.yml

# Project notes 
DEV_NOTES.md
